<form id="requestForm">
  <ion-row class="ion-justify-content-center"> 
    <ion-col size="11" class="no-padding-top">
      <ion-item  lines="none" class="box">
        <ion-row>
          <ion-label position="floating">Empreendimento</ion-label>
          <ion-col size="9" class="no-padding-left">
            <ion-input value="leo"></ion-input>
          </ion-col>
          <ion-col size="3" class="no-padding-right">
            <ion-button class="searchButton">
              <ion-icon src="../../assets/icon/searchIcon.svg" class="ion-padding icon-green" slot="end"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>    
      </ion-item>
      <ion-item class="ion-margin-vertical box" lines="none">
        <ion-label  position="floating">Motivo</ion-label>
        <ion-select placeholder="Select One">
          <ion-select-option value="f">Todos</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item  lines="none" class="box">
        <ion-row>
          <ion-label position="floating">Número O.F <span>(Para desconto)</span></ion-label>
          <ion-col size="9" class="no-padding-left">
            <ion-input value="leo"></ion-input>
          </ion-col>
          <ion-col size="3"  class="no-padding-right">
            <ion-button class="searchButton">
              <ion-icon src="../../assets/icon/searchIcon.svg" class="ion-padding icon-green" slot="end"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>    
      </ion-item>
      <ion-item  lines="none" class="box ion-margin-vertical">
        <ion-row>
          <ion-label position="floating">Aprovador</ion-label>
          <ion-col size="9" class="no-padding-left">
            <ion-input value="leo"></ion-input>
          </ion-col>
          <ion-col size="3"  class="no-padding-right">
            <ion-button class="searchButton">
              <ion-icon src="../../assets/icon/searchIcon.svg" class="ion-padding icon-green" slot="end"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>    
      </ion-item>
      <ion-item lines="none" class="box">
        <ion-label position="stacked">Observações</ion-label>
        <ion-textarea placeholder="Enter more information here..."></ion-textarea>
      </ion-item>
    </ion-col>
  </ion-row>
</form>