<form id="requestForm" [formGroup]="reqForm">
 
  <ion-row class="ion-justify-content-center"> 
    <ion-col size="11" class="no-padding-top" >
      <ion-item  lines="none" class="box">
        <app-input-search label="Empreendimento" [pesquisa]="{pesquisa: ''}" [listItemFilter]="listItemFilter.filteredOptionsEmpreendimento" placeholder="Código da obra" name="empreendimentoId" [parentForm]="reqForm" controlName="empreendimentoId" ngDefaultControl></app-input-search>
      </ion-item>
      <ion-item class="ion-margin-vertical box" lines="none">
        <ion-label  position="floating">Motivo</ion-label>
        <ion-select placeholder="Todos" formControlName="motivoId"  [selectedText]="selectedTest()">
          <ion-select-option *ngFor="let item of motivos" [value]="item?.id" >{{ item?.descricao }}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item  lines="none" class="box">
        <app-input-search label="Número O.F (Para desconto)" [pesquisa]="{pesquisa: ''}" [listItemFilter]="listItemFilter.OFsDescontoMaterial" placeholder="Número O.F" name="OFsDescontoMaterial" [parentForm]="reqForm" controlName="OFsDescontoMaterial" ngDefaultControl></app-input-search>
      </ion-item>
      <ion-item  lines="none" class="box ion-margin-vertical">
        <app-input-search label="Aprovador" [pesquisa]="{pesquisa: ''}" [listItemFilter]="listItemFilter.filteredOptionsUsuarios" placeholder="Aprovador" name="aprovador" [parentForm]="reqForm" controlName="aprovador" ngDefaultControl></app-input-search>
    
      </ion-item>
      <ion-item lines="none" class="box">
        <ion-label position="stacked">Observações</ion-label>
        <ion-textarea placeholder="Enter more information here..." formControlName="observacao"></ion-textarea>
      </ion-item>
    </ion-col>
  </ion-row>
</form>