<form id="requestForm" style="margin-top:0!important;" [formGroup]="reqFormInsumos">
  <ion-row class="ion-justify-content-center"> 
    <ion-col size="11" class="no-padding-top">
      <ion-list>
        <ion-radio-group>
          <ion-row>
            <ion-col size="6" class="ion-no-padding">
              <ion-item lines="none"  class="radio">
                <ion-label>Insumo</ion-label>
                <ion-checkbox value="cord" slot="start"></ion-checkbox>
              </ion-item>
          
              <ion-item lines="none"  class="radio">
                <ion-label>Etapa</ion-label>
                <ion-checkbox value="duesenberg"slot="start"> </ion-checkbox>
              </ion-item>
            </ion-col>
            <ion-col size="6" class="ion-no-padding">
              <ion-item  lines="none"  class="radio">
                <ion-label>Plano de contas</ion-label>
                <ion-checkbox value="hudson" slot="start"></ion-checkbox>
              </ion-item>
              <ion-item lines="none" class="radio">
                <ion-label>Bloco de unidade</ion-label>
                <ion-checkbox value="packard" slot="start"></ion-checkbox>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-radio-group>
      </ion-list>
      
      <ion-item lines="none" class="box ion-margin-vertical">
        <app-input-search label="Código da Empresa" formName="insumos" [pesquisa]="{pesquisa: '',empreendimentoId:empreendimentoId}" [listItemFilter]="listItemFilter.EmpresasDoEmpreendimento" placeholder="Código da Empresa" name="empresaId" [parentForm]="reqFormInsumos" controlName="empresaId" ngDefaultControl></app-input-search>
      </ion-item>
      <ion-item class="box radio"> 
        <ion-label>Apenas Etapas do Insumo</ion-label>
        <ion-checkbox slot="start" formName="insumos"  formControlName="somenteInsumosDaEtapa" (ionChange)="getEtapaByDre($event.target.value)"></ion-checkbox>
      </ion-item>
      <ion-item class="ion-margin-vertical box" lines="none">
        <ion-label  position="floating">Etapa</ion-label>
        
       <ion-select placeholder="Todos" (click)="getLoockupEtapa()" formControlName="etapaId" [disabled]="loadForm && !disabledEtapa()"  [interfaceOptions]="{ cssClass: 'my-custom-interface' }" cancel-text="cancelar" interface="action-sheet">
        <ion-select-option *ngFor="let item of etapas" [value]="item?.id" >{{ item?.descricao }}</ion-select-option>
        </ion-select>
        <ion-col size="12" *ngIf="!disabledEtapa()">
          <div class="required-text">
            <p>Insumo é um campo obrigatório</p>
          </div>
        </ion-col>
      </ion-item>
      <ion-item  lines="none" class="box">
        <app-input-search label="Plano de contas" formName="insumos"  [pesquisa]="{empreendimentoId: empreendimentoId}" [listItemFilter]="listItemFilter.filteredOptionsPlanoDeContas" placeholder="Plano de contas" name="planoContasId" [parentForm]="reqFormInsumos" controlName="planoContasId" ngDefaultControl></app-input-search>
      </ion-item>

      <ion-item  lines="none" class="box ion-margin-vertical">
        <app-input-search label="Serviço" formName="insumos"  [pesquisa]="{empreendimentoId: empreendimentoId,pesquisa:''}" [listItemFilter]="listItemFilter.filteredOptionsServico" placeholder="Serviço" name="servicoId" [parentForm]="reqFormInsumos" controlName="servicoId" ngDefaultControl></app-input-search>
      </ion-item>
      <ion-item  lines="none" class="box">
        <app-input-search label="Insumo"  formName="insumos"  [pesquisa]="{empreendimentoId: empreendimentoId}" [listItemFilter]="listItemFilter.filteredOptionsInsumos" placeholder="Insumo" name="insumoId" [parentForm]="reqFormInsumos" controlName="insumoId" ngDefaultControl></app-input-search>
      </ion-item>
      <ion-item  lines="none" class="box ion-margin-vertical">
        <ion-row>
          <ion-col size="8" class="no-padding-left">
            <ion-label position="floating">Quantidade</ion-label>
            <ion-input value="100,00000"></ion-input>
          </ion-col>
          <ion-col size="4"class="no-padding-right">
            <ion-label position="floating">Unidade</ion-label>
            <ion-select placeholder="Todas" [interfaceOptions]="{ cssClass: 'my-custom-interface' }" cancel-text="cancelar" interface="action-sheet">
              <ion-select-option value="f">Un</ion-select-option>
            </ion-select>
          </ion-col>
        </ion-row>    
      </ion-item>
      <ion-item  lines="none" class="box">
        <ion-row class="ion-align-items-center">
          <ion-label position="floating">Prazo de Entrega</ion-label>
          <ion-col size="4" class="no-padding-left">
            <ion-input value="00"></ion-input>
          </ion-col>
          <ion-col size="8"  class="no-padding ion-no-margin">
            <p class="diasUteis">Dias Uteis</p>
          </ion-col>
        </ion-row>    
      </ion-item>
      <ion-item  lines="none" class="box ion-margin-vertical">
        <ion-row>
          <ion-col size="6" class="no-padding-left">
            <ion-label>Data de Devolução</ion-label>
            <div class="calendar">
              <ion-datetime displayFormat="MM/DD/YYYY" min="2005" max="2016" value="1994-12-15"></ion-datetime>
              <ion-icon src="../../assets/icon/calendar.svg" slot="end"></ion-icon>
            </div>
          </ion-col>
        </ion-row>    
      </ion-item>
      <ion-item  lines="none" class="box">
        <ion-row>
          <ion-label position="floating">Insumo de Substituição</ion-label>
          <ion-col size="9" class="no-padding-left">
            <ion-input value="Insumo"></ion-input>
          </ion-col>
          <ion-col size="3"  class="no-padding-right">
            <ion-button class="searchButton">
              <ion-icon src="../../assets/icon/searchIcon.svg" class="ion-padding icon-green" slot="end"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>    
      </ion-item>
      <ion-item  lines="none" class="box ion-margin-vertical">
        <ion-label position="floating">Complemento</ion-label>
        <ion-input placeholder="Descrever complemento"></ion-input>
      </ion-item>
      <ion-list>
        <ion-item>
          <ion-label class="toogleItem">Estoque</ion-label>
          <ion-toggle ></ion-toggle>
        </ion-item>
        <ion-item class="ion-margin-top">
          <ion-label class="toogleItem">Gerar Ativo</ion-label>
          <ion-toggle ></ion-toggle>
        </ion-item>
      </ion-list>
      <ion-radio-group>
        <ion-label>Status</ion-label>
          <ion-item lines="none"  class="status">
            <ion-label class="aprovado">Ativo</ion-label>
            <ion-radio value="cord" slot="start"></ion-radio>
          </ion-item>
          <ion-item lines="none"  class="status">
            <ion-label class="suspenso">Suspenso</ion-label>
            <ion-radio value="duesenberg"slot="start"> </ion-radio>
          </ion-item>
          <ion-item  lines="none" class="status">
            <ion-label class="cancelado">Cancelado</ion-label>
            <ion-radio value="hudson" slot="start"></ion-radio>
          </ion-item>
      </ion-radio-group>
      <ion-item lines="none" class="box ion-margin-vertical">
        <ion-label position="floating">Justificativa do Status</ion-label>
        <ion-textarea placeholder="Enter more information here..."></ion-textarea>
      </ion-item>
      <ion-item  lines="none" class="box ion-margin-vertical" >
        <ion-row>
          <ion-label position="floating">Bloco</ion-label>
          <ion-col size="9" class="no-padding-left">
            <ion-input value="Todos"></ion-input>
          </ion-col>
          <ion-col size="3"  class="no-padding-right">
            <ion-button class="searchButton">
              <ion-icon src="../../assets/icon/searchIcon.svg" class="ion-padding icon-green" slot="end"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>    
      </ion-item>
      <ion-item  lines="none" class="box" >
        <ion-row>
          <ion-label position="floating">Unidade</ion-label>
          <ion-col size="9" class="no-padding-left">
            <ion-input value="Todos"></ion-input>
          </ion-col>
          <ion-col size="3"  class="no-padding-right">
            <ion-button class="searchButton">
              <ion-icon src="../../assets/icon/searchIcon.svg" class="ion-padding icon-green" slot="end"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>    
      </ion-item>
      <ion-item class="box  ion-margin-vertical"> 
        <ion-label class="gestao">Gestão de Frota</ion-label>
      </ion-item>
      <ion-item  lines="none" class="box">
        <ion-row>
          <ion-label position="floating">Ordem de Serviço</ion-label>
          <ion-col size="9" class="no-padding-left">
            <ion-input value="03130.3.1.4 - Chapa compensad..."></ion-input>
          </ion-col>
          <ion-col size="3"  class="no-padding-right">
            <ion-button class="searchButton">
              <ion-icon src="../../assets/icon/searchIcon.svg" class="ion-padding icon-green" slot="end"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>    
      </ion-item>
      <ion-item  lines="none" class="box ion-margin-vertical">
        <ion-row>
          <ion-label position="floating">Gerar OS para Equipamento</ion-label>
          <ion-col size="9" class="no-padding-left">
            <ion-input value="03130.3.1.4 - Chapa compensad..."></ion-input>
          </ion-col>
          <ion-col size="3"  class="no-padding-right">
            <ion-button class="searchButton">
              <ion-icon src="../../assets/icon/searchIcon.svg" class="ion-padding icon-green" slot="end"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>    
      </ion-item>
      <ion-item lines="none" class="box">
        <ion-label position="floating">Observações</ion-label>
        <ion-textarea placeholder="Enter more information here..."></ion-textarea>
      </ion-item>
    </ion-col>
  </ion-row>
</form>
