<form id="requestForm" [formGroup]="reqForm">
 
  <ion-row class="ion-justify-content-center"> 
    <ion-col size="11" class="no-padding-top">
      <ion-item  lines="none" class="box">
        <app-input-search label="Empreendimento" formName="req" [pesquisa]="{pesquisa: ''}" [listItemFilter]="listItemFilter.filteredOptionsEmpreendimento" placeholder="Código da obra" [parentForm]="reqForm" controlName="empreendimentoId" ngDefaultControl></app-input-search>
      </ion-item>
      <ion-item class="ion-margin-vertical box" lines="none">
        <ion-label  position="floating">Motivo</ion-label>
        <ion-select placeholder="Todos" formControlName="motivoId" cancel-text="cancelar" interface="action-sheet" [interfaceOptions]="{ cssClass: 'my-custom-interface' }" [selectedText]="selectedTextOption()">
          <ion-select-option *ngFor="let item of motivos" [value]="item?.id" >{{ item?.descricao }}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item  lines="none" class="box"  *ngIf="!!getFormField('empreendimentoId')">
        <app-input-search label="Número O.F (Para desconto)" formName="req"  [pesquisa]="{pesquisa: '',empreendimentoId:this.getFormForStore['empreendimentoId']}" [listItemFilter]="listItemFilter.OFsDescontoMaterial" placeholder="Número O.F" name="OFsDescontoMaterial" [parentForm]="reqForm" controlName="OFsDescontoMaterial" ngDefaultControl></app-input-search>
      </ion-item>
      <ion-item  lines="none" class="box ion-margin-vertical">
        <app-input-search label="Aprovador" formName="req"  [pesquisa]="{pesquisa: ''}"  [listItemFilter]="listItemFilter.filteredOptionsUsuarios" [parentForm]="reqForm" controlName="aprovador" ngDefaultControl></app-input-search>
    
      </ion-item>
      <ion-item lines="none" class="box">
        <ion-label position="stacked">Observações</ion-label>
        <ion-textarea placeholder="Enter more information here..." formControlName="observacao" cols="20"></ion-textarea>
      </ion-item>
    </ion-col>
  </ion-row>
</form>