<ion-item lines="none" [formGroup]="parentForm">
  <ion-row >
    <ion-label position="floating">{{label}}</ion-label>
    <ion-col size="9" class="no-padding-left">
      <div  matAutocompleteOrigin #origin="matAutocompleteOrigin" class="formInput">
        <input
          matInput
          type="text"
          [placeholder]="!!placeholder ? placeholder : label"
          [formControlName]="controlName"
          [matAutocomplete]="name"
          [disableControl]="setDisableButton"
          class="customInput"
          (focus)="!listItemFilter ? getLoockups() : ''"
          [matAutocompleteConnectedTo]="origin" 
          style="padding-inline-end: 30px;">
          <ion-icon name="close-outline" *ngIf="!!getValue()" (click)="clearField()"></ion-icon>
      </div>
  
      <mat-autocomplete #name="matAutocomplete"  [displayWith]="displayFn.bind(this)" >
        <mat-option value="null" *ngIf="noSearchResult">Nenhum valor encontrado</mat-option>
        <mat-option *ngFor="let option of listItemFilter | async" [value]="option.id">
          {{option.descricao}}
        </mat-option>
      </mat-autocomplete>
    </ion-col>
    <ion-col size="3" class="no-padding-right">
      <ion-button class="searchButton" (click)="getLoockups()" [disabled]="setDisableButton">
        <ion-spinner name="crescent" *ngIf="loading" ></ion-spinner>
        <ion-icon src="../../assets/icon/searchIcon.svg"  class="ion-padding search-icon-input" slot="end" *ngIf="!loading"></ion-icon>
      </ion-button> 
    </ion-col>
  </ion-row>
</ion-item>
