
 <ion-header >
  <ion-toolbar lines="none">
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col size="7">
          <div class="logo">
            <img id="logo-login" src="../../assets/whiteLogo.svg" />
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    
  </ion-toolbar>
  <ion-grid class="ion-no-padding position-relative" style="height: 80px;">
    <ion-row class="ion-justify-content-center">
      <ion-col size="8" class="ion-no-padding">
        <ion-button class="btnGreen ion-text-capitalize" (click)="newRequest()">Nova Requisição</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>
<ion-content [fullscreen]="true">
  <div style="height: 80px;"></div>
  <ion-grid class="principalDiv">
    <app-spinner [showSpinner]="!load" *ngIf="!load"></app-spinner>
    <ion-row class="ion-justify-content-center" >
      <ion-col size="11" [@hideShowAnimator]="load && !listReq">
        <p class="ion-margin-vertical">Nenhuma requisição encontrada</p>
       </ion-col>
      <ion-col size="11" [@hideShowAnimator]="load  && !!listReq">
       <p class="ion-margin-vertical">Requisição em Andamento</p>
      </ion-col>
      <ion-col size="11" *ngFor="let item of listReq; let i = index">
        <list-request-component [item]="item" [loaded]="load"></list-request-component>
      </ion-col>
       <ion-col size="11" [@hideShowAnimator]="load  && !!listReq">
        <h3 class="ion-text-center" (click)="viewAllRequest()">Ver Todas Requisições</h3>
       </ion-col>
    </ion-row>
  </ion-grid>
  
</ion-content>
