<div class="os-autocomplete">

  <input
    type="text"
    class="os-input"
    [(ngModel)]="textoBusca"
    (focus)="aberto = true"
    (input)="filtrar()"
    (blur)="fechar()"
    [placeholder]="placeholder"
  />

  <!-- BOTÃO X -->
  <button
    *ngIf="textoBusca"
    class="clear-btn"
    (click)="limpar(); $event.stopPropagation()"
  >
    ✕
  </button>

  <!-- LISTA -->
  <div class="dropdown" *ngIf="aberto && listaFiltrada.length">

    <div
      class="item"
      *ngFor="let item of listaFiltrada"
      (mousedown)="selecionar(item)"
    >
      {{ getDescricao(item) }}
    </div>

  </div>
</div>
